.title-gallery{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.main-container{
    padding: 50px;

}

.album-name{
    font-weight: bold;
}

.gallery-view{
    background-color: #e6e6e6;
}

.gallery-image{
    object-fit: cover;
    height: 150px;
    width: 95%;
    cursor: pointer;
}

.col-image{
    margin-bottom: 20px;
}

.img-desc{
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
@media all and(max-width:600px) {
   .gallery-row{
    height: 40px;
    overflow-y:scroll;
}
}

@media all and(min-width:601px) {
   .gallery-row{
    height: 40%;
    overflow-y:scroll;
}
}