.container{
    padding: 30px;
}
.header{
    text-align: center;
    font-size: 46px;
    font-weight: bolder;
    
}
.gallery-container{
    background-color: rgb(159,159,163);
}
.album-container{
    background-color: rgb(159,159,163);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    
}
.gallery-image,.Card{
    width: 233px;
    height: 150px;
}

#album-name,.album{
    background-color: transparent;
    padding: 0px;
    font-weight: bolder;
    font-size: 18;

 }

 .popContent{
     width: 400px;
     height: 400px;
     display: flex;
     flex-direction: row;
    
 }
.pop-pic{
    width: 200px;
    height: 400px;
}
 .pop-text{
     text-align: justify;
     width: 200px;
     height: 400px;
     padding: 30px;

 }