.mobile-case-status{
    position: relative;
    height: 550px;
    
}

.bg-image{
    object-fit: cover;
    filter: brightness(60%);
}
.mobile-status{
    position: absolute; 
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 38px;
    color:black;
    margin-bottom: 40px;
}
#mobile-header{
    font-size: 15px;
    font-weight: bolder;
}
.mobile-status-display{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 300px;
    width: 100%;
    display: block;
    border-radius: 1px;
    
}
.mobile-status-head{
    background-color:rgb(16,77,132) ;
    text-align: center;
    color:rgb(255,255,255);
    font-family:sans-serif;
    font-size: 15px;
    padding: 10px;

}
.mobile-status-body{
    /* padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px; */
    padding: 6px;
    background-color: rgb(255,255,255);
}
.mobile-case-info{
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: space-between; */
    /* 0%;width: 6 */
}

.mobile-right-value{
    font-size: 16px;
    color: black;
}

.mobile-label{
    font-size: 15px;
    font-weight: bolder;
    display: block;
    width: 200px;
    margin-left: 0px;
    text-align: justify;
}

.col-items{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.help-case{
    padding: 50px;
}
#help-title{
    font-weight: bolder;
    margin-top: 0px;
    font-size: 28px;
    text-align: center;
}

.help-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    font-size: small;
    
}
#info-title{
    font-weight: bolder;
}

.contacts{
    background-color: rgb(227,140,36);
    padding: 28px;
    display: block;
    text-align: center;
}
#contacts-title{
    font-weight: bolder;
    font-size: x-large;
}

.mobile-account-details{
    padding: 10px 0px 20px 50px;
}

.details-title{
    font-weight: bolder;
    font-size: 48px;
}

.user-info{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px; 
       
}

input[type=text],input[type=text]:focus,input[type=file],input[type=file]:focus{
    border: none;
    background-color: transparent;
    width: 300px;
    outline: none;
 }
