.popover-inner {
    width: 200px !important;
    max-width:200px !important;
 }
 .popover {
    width: 200px !important;
    max-width:200px !important;
 }
#title{
    font-size:40px;
    font-weight: bolder;
    color: white;
    position:absolute;
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
    
 }

 .fraud-text{
   color: white;
   position:absolute;
   top: 140px;
   font-size: 17px;
   left: 50%;
   text-align: center;
   transform: translate(-50%, -50%);
 }


 .operation{
    width:100%;
    color:rgb(255,255,255);
    font-family:sans-serif;
    font-size: small;
    padding: 20px;
 }


.fraudSection{
   height: 250px;
   position: relative;
}

.fraud-image{
   object-fit: cover;
   filter: brightness(30%);
}

 .site-title,.contact-title{
    font-weight: bolder;
    font-size: large;
 }
 .footer-last{
    display: flex;
    flex-direction: row;
    color:rgb(255,255,255);
    font-family:sans-serif;
    font-size:15px;
    padding: 20px;
    justify-content: space-between;
 }

 .mobile-footer-last{
   display: flex;
   flex-direction: row;
   color:rgb(255,255,255);
   font-family:sans-serif;
   font-size:13px;
   padding: 8px;
   justify-content: space-between;
}


#mobile-title{
   font-size:26px;
   font-weight: bolder;
   color: white;
   position:absolute;
   text-align: center;
   top: 40px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.mobile-fraud-text{
  color: white;
  position:absolute;
  top: 180px;
  font-size: 13px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


.mobile-operation{
   width:100%;
   color:rgb(255,255,255);
   font-family:sans-serif;
   font-size: small;
   padding: 20px;
}


.mobileFraudSection{
  position: relative;
  height: 355px;
}
 