input[type=text], select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  ::-webkit-input-placeholder { /* Edge */
    color: black;
    font-weight: bolder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: bolder;
  }
  
  ::placeholder {
    color: black;
    font-weight: bolder;
  }