  .title{
    color:var(--color-crayon);
    font-size:1.5rem;
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    text-transform:uppercase;
    letter-spacing:1px;
  }

   .wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
   }